@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Regular.ttf);
  src: local("assets/fonts/Lato-Regular.ttf") format(".ttf");
}

body {
  font-family: "Lato", "Verdana", "Tahoma", "sans-serif";
}

.wrapper {
  margin: 0 auto;
  position: relative;
  width: 1020px;
  height: 1604px;
  background: #ffffff;
}

.section__wrapper__portfolio {
  display: flex;
  width: 1022px;
  height: 872px;
  background: #2d303a;
}

.wrapper__title {
  width: 133px;
  height: 23px;
  padding-left: 41px;
  padding-top: 70px;
  font-style: normal;
  font-weight: 900;
  font-size: 31px;
  line-height: 18px;
  color: #666d89;
}

.wrapper__paragraph {
  position: absolute;
  width: 712px;
  height: 30px;
  left: 41px;
  top: 115px;
  font-style: normal;
  font-weight: 300;
  font-size: 17.4px;
  line-height: 30px;
  color: #767e9e;
}

.wrapper__button {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 290px;
  height: 25px;
  top: -31px;
  left: 11px;
}

.button a {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #666d89;
  border-radius: 5px;
  text-decoration: none;
  color: #767e9e;
  padding: 3px 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
}

.button a:focus {
  vertical-align: middle;
  border: 1px solid #dedede;
  color: #dedede;
}

.wrapper__image {
  align-content: flex-start;
  margin-top: 31px;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 996px;
  height: 718px;
  left: 30px;
  top: 154px;
}

.image {
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 220px;
  height: 187px;
}

.image__img1 {
  position: absolute;
  left: -8px;
  top: -10px;
}

.image__img2 {
  position: absolute;
  left: -10px;
  top: -15px;
}

.image__img3 {
  position: absolute;
  left: -16px;
  top: -1px;
}

.image__img4 {
  position: absolute;
  left: -82px;
  top: -42px;
}

.image__img5 {
  position: absolute;
  left: -16px;
  top: -3px;
}

.image__img6 {
  position: absolute;
  left: -141px;
  top: -112px;
}

.image__img7 {
  position: absolute;
  left: -11px;
  top: 0px;
}

.image__img8 {
  position: absolute;
  left: -31px;
  top: -38px;
}

.image__img9 {
  position: absolute;
  left: -144px;
  top: -174px;
}

.image__img10 {
  position: absolute;
  left: -24px;
  top: -1px;
}

.image__img11 {
  position: absolute;
  left: -24px;
  top: -31px;
}

.image__img12 {
  position: absolute;
  left: -36px;
  top: -59px;
}

.bg__bottom {
  position: absolute;
  width: 1022px;
  height: 8px;
  left: 0px;
  top: 864px;
  background: #323746;
}

.section__wrapper__aboutus {
  width: 1022px;
  height: 738px;
  left: calc(50% - 1022px / 2);
  bottom: -2px;
}

.wrapper__aboutus {
  width: 1022px;
  height: 732px;
  left: 0px;
  top: 0px;
  background: #f2f2f2;
}

.aboutus {
  letter-spacing: 0.5px;
  padding-left: 41px;
  padding-top: 57px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  color: #666d89;
}

.aboutus__paragraph {
  letter-spacing: 0.5px;
  margin-left: 41px;
  margin-top: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16.7px;
  line-height: 30px;
  color: #767e9e;
}

.wrapper-3-column {
  color: #666d89;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 944px;
  height: 304px;
}

.layout__column {
  height: 944px;
  width: 320px;
  position: relative;
  left: 40px;
  top: 43px;
  float: left;
}

.layout__column__img {
  width: 300px;
  height: 302px;
}

.aboutus__h1 {
  position: relative;
  left: 1px;
  top: -3px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
}

.aboutus__paragraph1 {
  letter-spacing: 0.4px;
  position: relative;
  width: 302px;
  height: 32px;
  top: -8px;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 22px;
}

.social {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 166px;
  height: 35px;
  left: -6px;
  top: 13px;
}

.section__wrapper__bottom {
  position: relative;
  width: 1022px;
  height: 10px;
  left: 0px;
  top: 250px;
  background: #ffffff;
}

/* Первый коммит до сюда*/
