@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Regular.ttf);
  src: local("assets/fonts/Lato-Regular.ttf") format(".ttf");
}

body {
  margin: 0 auto;
  font-family: "Lato", "Verdana", "Tahoma", "sans-serif";
}

h1 {
  margin: 0;
  position: absolute;
  width: 155px;
  height: 20px;
  left: 41px;
  top: 41px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 6px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.header {
  position: absolute;
  width: 1022px;
  height: 98px;
  left: calc(50% - 1022px / 2);
  top: -1px;
}

.header__wrapper {
  margin: 0;
  position: absolute;
  width: 1022px;
  height: 92px;
  left: 0px;
  top: 0px;
  background: #2d303a;
}

.header__navigation_link.colored {
  color: #f06c64;
}

span {
  color: #f06c64;
}

.header__navigation_link {
  text-decoration: none;
  color: #ffffff;
}

.header__navigation ul {
  margin: 0;
  position: absolute;
  width: 333px;
  height: 9px;
  left: 610px;
  top: 48px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

li:first-child {
  list-style: none;
}

li {
  color: #3c404f;
  padding-left: 0px;
}

li:hover {
  opacity: 0.5;
}

.header__bottom {
  z-index: 1;
  position: absolute;
  width: 1022px;
  height: 9px;
  left: 0px;
  top: 89px;
  background: #323746;
}

.slider {
  position: absolute;
  width: 1022px;
  height: 666px;
  left: calc(50% - 1022px / 2);
  top: 78px;
}

.slider__wrapper {
  position: absolute;
  width: 1022px;
  height: 603px;
  left: 0px;
  top: 10px;
  background: #f06c64;
}

.slider__control:hover {
  opacity: 0.5;
}

.slider__control_left {
  position: absolute;
  width: 16px;
  height: 27px;
  left: 43px;
  top: 298px;
}
.slider__control_right {
  position: absolute;
  width: 16px;
  height: 27px;
  left: 965px;
  top: 298px;
}

.slider__phonevertical {
  z-index: 100;
  position: absolute;
  width: 582px;
  height: 580px;
  left: 111px;
  top: 0px;
}

.slider__phonevertical__img {
  z-index: 0;
  position: absolute;
  width: 218px;
  height: 461px;
  left: 0px;
  top: 69px;
}

.slider__fontvertical {
  overflow: hidden;
  position: absolute;
  width: 188px;
  height: 333px;
  left: 16px;
  top: 135px;
}

.slider__fontvertical__img {
  position: absolute;
  width: 580px;
  height: 580px;
  left: -15px;
  top: -135px;
}

.slider__shadowvertical__img {
  z-index: -1;
  position: absolute;
  width: 240px;
  height: 483px;
  left: 2px;
  top: 70px;
  background: rgba(0, 0, 0, 0.0001);
  mix-blend-mode: multiply;
  opacity: 1;
}

.slider__phonehorizontal {
  z-index: 100;
  position: absolute;
  width: 580px;
  height: 580px;
  left: 361px;
  top: 86px;
}

.slider__phonehorizontal__img {
  position: absolute;
  width: 461px;
  height: 218px;
  left: 64px;
  top: 104px;
}

.slider__fonthorizontal {
  overflow: hidden;
  position: absolute;
  width: 333px;
  height: 188px;
  left: 125px;
  top: 119px;
}

.slider__fonthorizontal__img {
  position: absolute;
  width: 580px;
  height: 580px;
  left: -124px;
  top: -119px;
}
.slider__shadowhorizontal__img {
  z-index: -1;
  position: absolute;
  width: 483px;
  height: 240px;
  left: 66px;
  top: 105px;
  background: rgba(0, 0, 0, 0.0001);
  mix-blend-mode: multiply;
  opacity: 1;
}

.slider__bottom {
  position: absolute;
  width: 1022px;
  height: 8px;
  left: 0px;
  top: 601px;
  background: #ea676b;
}
.services {
  position: absolute;
  width: 1022px;
  height: 505px;
  left: calc(50% - 1022px / 2);
  bottom: -2px;
}

.services__wrapper {
  position: absolute;
  width: 1022px;
  height: 499px;
  left: 0px;
  top: 0px;
  background: #f2f2f2;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  width: 1020px;
  height: 1195px;
  background: #ffffff;
}

.paragraph {
  position: absolute;
  width: 286.99px;
  height: 23px;
  left: 41px;
  top: 41px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 29.6188px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #666d89;
}

.paragraph1 {
  position: absolute;
  width: 969px;
  height: 47px;
  left: 42px;
  top: 119px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #767e9e;
}

.layout-3-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tools {
  padding: 8px;
  position: relative;
  left: 37px;
  top: 222px;
  margin: 0;
  width: 300px;
  height: 87px;
}

.tools__icon {
  float: left;
  width: 62px;
  height: 61px;
  background: rgba(0, 0, 0, 0.0001);
}
.services__wrapper__bottom {
  position: absolute;
  width: 1022px;
  height: 10px;
  left: 0px;
  top: 495px;
  background: #ffffff;
}

h2 {
  position: absolute;
  width: 237px;
  height: 17px;
  left: 80px;
  top: -8px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 17.7713px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #666d89;
}

p {
  position: absolute;

  width: 230px;
  height: 54px;
  left: 80px;
  top: 25px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #767e9e;
}
