@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Regular.ttf);
  src: local("assets/fonts/Lato-Regular.ttf") format(".ttf");
}

body {
  font-family: "Lato", "Verdana", "Tahoma", "sans-serif";
}

.wrapper {
  text-align: justify;
  margin: 0 auto;
  width: 1020px;
  height: 730px;
  background: #ffffff;
}

.wrapper__artboard {
  position: absolute;
  width: 1020px;
  height: 656px;
  left: calc(50% - 1022px / 2);
  top: -1px;
}
.artboard__bg {
  display: flex;
  flex-wrap: wrap;
  width: 1020px;
  height: 651px;
  background: #f06c64;
}

.artboard__h1 {
  text-align: justify;
  letter-spacing: 0.6px;
  width: 277px;
  height: 26px;
  margin-left: 42px;
  margin-top: 65px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 29px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #f0d8d9;
}

.artboard__paragraph {
  letter-spacing: -0.22px;
  width: 969px;
  height: 47px;
  margin-left: 42px;
  margin-top: -5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #f0d8d9;
}

.form {
  margin-left: 28px;
  margin-top: 17px;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
}

#form__message,
.form__fieldset {
  outline: none;
  border: none;
}
#form__message::-webkit-input-placeholder {
  color: #f48c8f;
}

#form__message:-moz-placeholder {
  color: #f48c8f;
}
#form__message::-moz-placeholder {
  color: #f48c8f;
}
#form__message:-ms-input-placeholder {
  color: #f48c8f;
}

input::-webkit-input-placeholder {
  color: #f48c8f;
}

input:-moz-placeholder {
  color: #f48c8f;
}

input::-moz-placeholder {
  color: #f48c8f;
}

input:-ms-input-placeholder {
  color: #f48c8f;
}

.form__input {
  outline: none;
  border: none;
  flex-direction: row;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 604px;
  height: 36.5px;
  padding-left: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  background: #d6564f;
}

.form__input:focus {
  border-color: #f0d8d9;
  box-shadow: 0 0 10px rgba(247, 242, 242, 0.5); /* Параметры тени */
  border-radius: 5px;
}

#form__message:focus {
  border-color: #f0d8d9;
  box-shadow: 0 0 10px rgba(247, 242, 242, 0.5); /* Параметры тени */
  border-radius: 5px;
}

#form__message {
  resize: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  padding-top: 8px;
  padding-left: 14px;
  margin-top: -9px;
  border-radius: 5px;
  margin-left: 13px;
  width: 603px;
  height: 192px;
  background: #d6564f;
}

.form__button {
  cursor: pointer;
  border: 1px solid;
  font-size: 17px;
  margin-left: 568px;
  margin-top: 16px;
  color: #f48c8f;
  background: #d6564f;
  border-radius: 15px;
}

.form__button:active {
  outline: none !important;
  box-shadow: 0 0 10px rgba(247, 242, 242, 0.5); /* Параметры тени */
  border-radius: 15px;
  color: #dedede;
}

.contact__information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 301px;
  height: 194px;
  margin-top: 5px;
  margin-left: 8px;
  font-size: 12px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  color: #f0d8d9;
}

.contact__information__h3 {
  letter-spacing: 0.7px;
  width: 280px;
  height: 14px;
  left: 1px;
  top: 0.02px;
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  line-height: 18px;
}

.contact__information__paragraph {
  letter-spacing: 0.01px;
  margin-top: -3px;
  margin-left: 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
}

.contact__form {
  margin-left: 2px;
  align-items: end;
  display: flex;
  margin-top: 23px;
  width: 150px;
  height: 85px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 22px;
}

.contact__form__img {
  margin-right: 13px;
}

.icontact__form,
a {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

a {
  color: #f0d8d9;
}

.form__bottom {
  top: 15px;
  position: relative;
  width: 1020px;
  height: 8px;
  background: #ea676b;
}

.footer__bg {
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: relative;
  width: 1020px;
  height: 78px;
  left: calc(50% - 1020px / 2);
  top: 645px;
  background: #2d303a;
}

.footer__bg__copyright {
  margin-left: 42px;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 11.5px;
  line-height: 22px;
  left: 43px;
  top: 35px;
  background: rgba(0, 0, 0, 0.0001);
  color: #666d89;
}

.social {
  margin-right: 37px;
  width: 154px;
  height: 34px;
  background: rgba(0, 0, 0, 0.0001);
}

.social__img:active {
  box-shadow: 0 0 10px rgba(247, 242, 242, 0.5);
  border-radius: 50%;
}

.social a {
  padding-right: 3.1px;
}

a:active {
  color: rgba(247, 242, 242, 0.5);
}
